<div class="user-info-container">
    <img class="img" src="{{user.picture}}" alt="avatar">
    <div class="info flex">
        <p class="title">Name:</p>
        <p class="text">{{user.name}}</p>
    </div>
    <div class="info flex">
        <p class="title">Registered:</p>
        <p class="text">{{user.registered}}</p>
    </div>
    <div class="info flex">
        <p class="title">Age:</p>
        <p class="text">{{user.age}}</p>
    </div>
    <div class="info flex">
        <p class="title">Email:</p>
        <p class="text">{{user.email}}</p>
    </div>
    <div class="info flex">
        <p class="title">Phone:</p>
        <p class="text">{{user.phone}}</p>
    </div>
    <div class="info flex">
        <p class="title">Address:</p>
        <p class="text">{{user.address}}</p>
    </div>
    <div class="info flex">
        <p class="title">Balance:</p>
        <p class="text">{{user.balance}}</p>
    </div>
    <div class="info flex">
        <p class="title">Tags:</p>
        <p class="text">{{user.tags}}</p>
    </div>
    <div class="info flex">
        <p class="title">About:</p>
        <p class="text">{{user.about}}</p>
    </div>
</div>
